*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-image: url("lessons/background.png");
    font-family: sans-serif;
    background-size: cover;
}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    width: 100%;
}

li{
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child{
border-right: none;
}
li a{
    display:block;
    color: #e93b81;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color:#ce97b0;
}
li a:hover{
background-color: #b6c9f0;
}
.active{
    background-color: #e93b81;
}

img{
    width: 100px;
    height: 100px;
    position: block;
    margin-left: auto;
    margin-right: auto ;
    top: 100px;
}
